<div class="w-100">
    <h2 class="text-center py-3">Lista de ordenes</h2>

    <app-grid [configuracion]="configuracion.gridList" (clickCelda)="clickCelda($event)"
        (clickPaginador)="clickPaginador($event)"></app-grid>

</div>

<!-- <div class="fixed-bottom bg-white shadow-lg">
    <div class="d-flex justify-content-end p-2">
        <button type="button" routerLink="crear" class="btn btn-primary mr-2">
            <fa-icon [icon]="'plus'" class="fa-1x"></fa-icon> 
            {{ 'global.add' | translate }}
        </button>
    </div>
</div> -->

<!-- Modal -->
<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>