<h3>Billetera</h3>
<br />

<table class="table ganancias">
    <thead>
        <tr>
            <th class="text-center">Mes</th>
            <th class="text-center">Bonificación</th>
            <th class="text-center">Retefuente DIAN</th>
            <th class="text-center">Saldo</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Saldo pendiente</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Enero</td>
            <td class="text-right">$0</td>
            <td class="text-right">$0</td>
            <td class="text-right">$0</td>
            <td class="text-right">$0</td>
            <td class="text-right">$0</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-right" colspan="2">Total</td>
            <td class="text-right" colspan="4">$0</td>
        </tr>
    </tfoot>
</table>
