<div class="col-md-12">
    <h1 class="my-0">
        <ng-template [ngIf]="esCreacion">
            Crear usuario
        </ng-template>
        <ng-template [ngIf]="!esCreacion">
            Editar usuario
        </ng-template>
    </h1>
</div>

<div class="col-12">
    <form class="col-12 py-3 my-3 card border-0 shadow needs-validation" [formGroup]="form"
    *ngIf="isForm | async as isForm;">
    
        <app-form-user formGroupName="userForm"></app-form-user>

        <div class="fixed-bottom bg-white shadow-lg">
            <div class="d-flex justify-content-end py-2 px-4">
                <button type="submit" (click)="saveUser()" class="btn btn-primary mr-2">
                    <fa-icon [icon]="'save'" class="fa-1x pr-1"></fa-icon> Guardar
                </button>
            </div>
        </div>
    </form>
</div>