.interlineado-btn{
    line-height: 1.2em;
}
.bg--light {
    background-color: #2b6095!important;
}

.active-btn-office, .menu--office a:hover {
    background: rgb(43,96,149);
    background: linear-gradient(180deg, rgba(43,96,149,1) 65%, rgba(145,161,197,1) 100%);
}
.active-btn-office > *, .menu--office a:hover > * {
    color: #DDD !important;
}

