<div class="d-inline-flex w-100">
    <div class="nav p-4 flex-column nav-pills menu--office" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <!-- <ng-container *ngFor="let item of listMenu">
            <a class="nav-link mb-2" routerLink="{{item.url}}" routerLinkActive="active-btn-office">
                <div class="d-inline-flex w-100 d-flex align-items-center color--primary">
                    <fa-icon [icon]="item.icono" class="fa-1x"></fa-icon>
                    <span class="interlineado-btn pl-2">{{item.nombre}}</span> 
                </div>
            </a>
        </ng-container> -->
        <a class="nav-link active mb-2" routerLink="/" routerLinkActive="active-btn-office">
            <div class="d-inline-flex w-100 d-flex align-items-center color--primary">
                <fa-icon [icon]="'network-wired'" class="fa-1x"></fa-icon>
                <span class="interlineado-btn pl-2">Mi red</span> 
            </div>
        </a>
        <a class="nav-link mb-2" routerLink="wallet" routerLinkActive="active-link">
            <div class="d-inline-flex w-100 d-flex align-items-center color--primary">
                <fa-icon [icon]="'wallet'" class="fa-1x"></fa-icon> 
                <span class="interlineado-btn pl-2">Billetera</span>
            </div>
        </a>
        <a class="nav-link mb-2" routerLink="/ganancia" routerLinkActive="active-link">
            <div class="d-inline-flex w-100 d-flex align-items-center color--primary">
                <fa-icon [icon]="'money-check-alt'" class="fa-1x"></fa-icon> 
                <span class="interlineado-btn pl-2">Resumen de ganancias</span> 
            </div>
        </a>
        <a class="nav-link mb-2" routerLink="/order" routerLinkActive="active-link">
            <div class="d-inline-flex w-100 d-flex align-items-center color--primary">
                <fa-icon [icon]="'shopping-bag'" class="fa-1x"></fa-icon> 
                <span class="interlineado-btn pl-2">Mis compras</span>
            </div>
        </a>
    </div>
    <div class="my-4 mr-4 w-100">
        <router-outlet></router-outlet>
    </div>
</div>