.ui-dropdown {
    border: none !important;
  }
  .select-coomeva {
    border-radius: 5px;
    align-items: center;
    border-top: 0;
    color: #2f4158 !important;
    background-color: #fff !important;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8125rem;
    font-weight: 600;
    /* height: 3rem; */
  }
  .select-coomeva .ui-dropdown,
  .select-coomeva .ui-dropdown:hover {
    width: 100%;
    color: #2f4158;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8125rem;
    font-weight: 600;
    top: -1px;
    height: 100%;
  }
  .select-coomeva .ui-dropdown:not(.ui-state-disabled):hover {
    border: 0px solid #d6dbe0 !important;
  }
  .select-coomeva .ui-dropdown .ui-dropdown-trigger {
    background-color: #f6f6f6;
    border-left: solid 1px #d6dbe0;
    width: 40px;
  }
  .select-coomeva .ui-dropdown .ui-dropdown-panel {
    border: 1px solid #ff7441 !important;
  
    max-width: 425px;
  }
  .select-coomeva .ui-dropdown .ui-dropdown-item {
    width: 100%;
    height: 100%;
    align-items: center;
    color: #2f4158 !important;
    background-color: #fff !important;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .select-coomeva .ui-dropdown .ui-dropdown-item:hover {
    font-weight: 600;
    background-color: #fff !important;
  }
  .select-coomeva .ui-dropdown .ui-dropdown-item.ui-state-highlight {
    font-weight: 600;
    background-color: #fff !important;
  }
  body .ui-dropdown .ui-dropdown-label {
    color: #2f4158 !important;
    font-weight: 600;
    height: 35.66px;
  }
  body
    .ui-multiselect-panel
    .ui-multiselect-header
    .ui-multiselect-filter-container {
    width: 90%;
  }
  