.color_Ico {
    color: #4757a2;
}
.text-info {
    color: #3a87ad;
}

.equal-height {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.text-center-bottom{
    align-items: center;
    align-self:flex-end;
}