<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/images/slider/img1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/slider/img2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/slider/img3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br />
<div class="col-md-12 d-flex justify-content-center">
    <div class="col-lg-1 col-3">
        <a href="https://es-la.facebook.com/aguavansasoficial" target="_blank">
            <img class="third-slide" width="100%" src="../../assets/images/facebook.png" alt="Facebook" />
        </a>
    </div>
    <div class="col-lg-1 col-3">
        <a href="https://www.instagram.com/aguavansas/" target="_blank">
            <img class="third-slide" width="100%" src="../../assets/images/instagram-icon.png" alt="instagram" />
        </a>
    </div>
</div>
<br />

<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <img width="100%" src="../../assets/images/laptop-analytics-3.png" />
            </div>
            <div class="col-md-6">
                <br />
                <h2 class="color_Ico"> <b>Tu Oportunidad de Negocio</b></h2>

                <div style="display: flex; align-items: flex-start; padding-top: 20px;">
                    <i class="fa fa-check-circle fa-2x color_Ico" aria-hidden="true" style="padding-right: 10px;"></i>
                    <span style="align-self: center;">¿Te gustaría que te pagaran por lo que compras?</span>
                </div>

                <div style="display: flex; align-items: flex-start; padding-top: 10px;">
                    <i class="fa fa-check-circle fa-2x color_Ico" aria-hidden="true" style="padding-right: 10px;"></i>
                    <span style="align-self: center;">¿Conoces personas que estén búscando opciones de generar ingresos
                        adicioneales?</span>
                </div>

                <div style="display: flex; align-items: flex-start; padding-top: 10px;">
                    <i class="fa fa-check-circle fa-2x color_Ico" aria-hidden="true" style="padding-right: 10px;"></i>
                    <span style="align-self: center;">¿Te gustaría ser dueño de un negocio 100% legal y de poca
                        inversión?</span>
                </div>

            </div>
        </div>
    </div>
</div>

<br />
<div class="container">
    <div class="col-md-12">

        <h4 class="col-md-12 color_Ico text-center"> <b>Es un sistema de Éxito comprobado, que te lleva donde<br /> Tú
                quieras llegar... Todo depende de Ti.</b></h4>
        <br /><br />
        <div class="row">
            <div class="col-md-3 pb-3 equal-height">
                <div class="cards text-center" style="padding: 10px;">
                    <span class="fa-stack fa-lg fa-3x text-info">
                        <fa-icon [icon]="'circle'" class="fa-2xl display-2"></fa-icon>
                        <fa-icon [icon]="'puzzle-piece'" class="fa-stack-1x fa-inverse icons-align"></fa-icon>
                    </span>
                    <p><br />Legalmente contituídos desde el año 2012</p>
                </div>
            </div>

            <div class="col-md-3 pb-3 equal-height">
                <div class="cards text-center" style="padding: 10px;">
                    <span class="fa-stack fa-lg fa-3x text-danger">
                        <fa-icon [icon]="'circle'" class="fa-2xl display-2"></fa-icon>
                        <fa-icon [icon]="'users'" class="fa-stack-1x fa-inverse icons-align"></fa-icon>
                    </span>
                    <p><br />Requisitos para operar como Empresa Multinivel</p>
                </div>
            </div>

            <div class="col-md-3 pb-3 equal-height">
                <div class="cards text-center" style="padding: 10px;">
                    <span class="fa-stack fa-lg fa-3x text-warning">
                        <fa-icon [icon]="'circle'" class="fa-2xl display-2"></fa-icon>
                        <fa-icon [icon]="'chart-bar'" class="fa-stack-1x fa-inverse icons-align"></fa-icon>
                    </span>
                    <p><br />Posibilidad de negocio a nevel nacional y con proyección mundial</p>
                </div>
            </div>

            <div class="col-md-3 pb-3 equal-height">
                <div class="cards text-center" style="padding: 10px;">
                    <span class="fa-stack fa-lg fa-3x text-success">
                        <fa-icon [icon]="'circle'" class="fa-2xl display-2"></fa-icon>
                        <fa-icon [icon]="'desktop'" class="fa-stack-1x fa-inverse icons-align"></fa-icon>
                    </span>
                    <p>Plataforma de comercialización de productos y servicios con altos estándares de calidad</p>
                </div>
            </div>

        </div>

    </div>

    <br />
    <!-- <div class="col-md-12 text-center">
        <h2 class="color_Ico text-center"> <b>Te enseñaremos como se hace</b></h2>
        <p class="text-center help-block"><small>Con nuestro simulador puede realizar pruebas de ganancias real con plan
                de acción y bonos de liderazgo.</small></p>

        <a routerLink='/simulador' class="btn btn-primary">DESCUBRE AQUÍ CUÁNTO PUEDES GANAR</a>
    </div> -->

</div>