.calendar-app {
    border-radius: 5px;
    align-items: center;
    border-top: 0;
    color: #2f4158 !important;
    background-color: #fff !important;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 0.8125rem; */
    font-weight: 400;
    height: 3rem;
  }
  .calendar-app .ui-calendar {
    width: 100%;
    /* border: 1px solid #d6dbe0; */
    border-radius: 5px;
  }
  .calendar-app .ui-calendar .ui-inputtext {
    border: none !important;
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    /* height: 2.75rem; */
    height: 2.375rem;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8125rem;
    font-weight: 600;
  }
  .calendar-app .ui-calendar .ui-calendar-button,
  .calendar-app .ui-calendar .ui-calendar-button:enabled:focus,
  .calendar-app .ui-calendar .ui-calendar-button:enabled:hover {
    background-color: #f6f6f6;
    border-left: 1px solid #d6dbe0;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    color: #2f4158;
    width: 40px !important;
    height: 100%;
    float: right;
    position: absolute;
    right: 0;
  }
  .calendar-app .ui-datepicker .ui-datepicker-header .ui-datepicker-title select,
  .calendar-app .ui-datepicker .ui-datepicker-header .ui-datepicker-title select:hover,
  .calendar-app .ui-datepicker .ui-datepicker-header .ui-datepicker-title select:focus {
    border-radius: 5px !important;
    border: 1px solid #d6dbe0 !important;
  }
  .calendar-app .ui-calendar .ui-widget.ui-widget-content {
    z-index: 1030 !important;
  }
  