<!-- <p-calendar 
class="calendar-app w-100"
[inputId]="inputId"
[name]="inputId"
dateFormat="dd-mm-yy"
[locale]="es"
[numberOfMonths]="1",
[inline]="false"
[showButtonBar]="showButtonBar"
[showIcon]="true"
[monthNavigator]="true"
[yearNavigator]="true"
[yearRange]="'1888:2222'"
[icon]="'icon-calendar'"
[minDate]="minDate"
[maxDate]="maxDate"
[timeOnly]="timeOnly"
[showSeconds]="showSeconds"
[disabled]="disabled"
></p-calendar> -->

<p-calendar class="calendar-app w-100" [inputId]="inputId" [name]="inputId"
            dateFormat="dd-mm-yy" [monthNavigator]="true" [locale]="es"
            [yearNavigator]="true" yearRange="1888:2222" [showIcon]="true"
            [icon]="'icon-calendar'">
</p-calendar>
